<div class="panel panel-primary" *ngFor="let employee of employees">
    <div class="panel-heading">
        <h3 class="panel-heading">
            {{employee.name}}
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-4">
                    <img class="imageClass" [src]="employee.photoPath" />
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-6">Gender</div>
                        <div class="col-xs-6">
                            : {{employee.gender}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">Phone number</div>
                        <div class="col-xs-6">
                            : {{employee.phonenumber}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">DOB</div>
                        <div class="col-xs-6">
                            : {{employee.dateofbirth | date}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">Department</div>
                        <div class="col-xs-6">
                            : {{employee.department}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">Active</div>
                        <div class="col-xs-6">
                            : {{employee.isActive}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>